<%- include('../partials/header') %>

<main>
    <form action="/scores" method="POST">
        <label>Course:
            <select name="course">
                <option value="Apache Shores">Apache Shores</option>
                <option value="Bible Ridge">Bible Ridge</option>
                <option value="Brazos East">Brazos East</option>
                <option value="Brushy Creek">Brushy Creek</option>
                <option value="Cat Hollow">Cat Hollow</option>
                <option value="Circle C">Circle C</option>
                <option value="Davis">Davis</option>
                <option value="Falcon Pointe">Falcon Pointe</option>
                <option value="Flying Armadillo">Flying Armadillo</option>
                <option value="Mary Moore Seawright">Mary Moore Seawright</option>
                <option value="Met Center">Met Center</option>
                <option value="Northtown">Northtown</option>
                <option value="Old Settlers Park">Old Settlers Park</option>
                <option value="Rivery">Rivery</option>
                <option value="Roy G Guerrerro">Roy G Guerrerro</option>
                <option value="San Gabriel">San Gabriel</option>
                <option value="Wells Branch">Wells Branch</option>
                <option value="Wilco">Wilco</option>
                <option value="Zilker">Zilker</option>
            </select>
        </label>
        <label>Date:
            <input type="date" name="date">
        </label>
        <label>Score:
            <input type="text" name="score" placeholder="Score">
        </label>
        <input type="submit" value="Add Round">
    </form>
</main>

<%- include('../partials/footer') %>