<footer id="footer">

        <div>
            <a href="https://udisc.com/courses" target="_blank" class="footer-link">
                <i class="fas fa-location-circle fa-2x" id="udisc"></i>
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/c/JomezProductions/" target="_blank" class="footer-link">
                <img src="/imgs/jomez-pro-logo-100px.png" alt="Jomez Pro" class="jomez">
            </a>
        </div>
        <div>
            <a href="https://www.innovadiscs.com/" target="_blank" class="footer-link">
                <img src="/imgs/innova.jpg" alt="Innova" class="innova">
            </a>
        </div>
        <div class="discraft">
            <a href="https://www.discraft.com/" target="_blank" class="footer-link">
                <img src="/imgs/discraft.png" alt="Discraft">
        </div>
        <div class="dynamic">
            <a href="https://www.dynamicdiscs.com/" target="_blank" class="footer-link">
                <img src="/imgs/dynamicdiscs.png" alt="Dynamic Discs" class="dynamic-discs">
            </a>
        </div>

    <p>Copyright &copy; 2020 All Rights Reserved Steven Fox</p>
</footer>
</div>
</body>

</html>