<footer>
    <h3>Resources</h3>
    <section>
        <a href="https://udisc.com/courses" target="_blank">Courses</a>
        <a href="https://www.youtube.com/c/JomezProductions/" target="_blank">JomezPro</a>
        <a href="https://www.innovadiscs.com/" target="_blank">Innova</a>
        <a href="https://www.discraft.com/" target="_blank">Discraft</a>
        <a href="https://www.dynamicdiscs.com/" target="_blank">Dynamic Discs</a>
    </section>
    <p>Copyright &copy; 2020 All Rights Reserved Steven Fox</p>
</footer>

</body>

</html>