<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Aced</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/scores">All Scores</a>
                </li>
                <li>
                    <a href="/scores/new">Add Score</a>
                </li>
                <li>
                    <a href="/highscores">High Scores</a>
                </li>
            </ul>
        </nav>
    </header>