<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Krub&family=Montserrat+Alternates:wght@300&family=Text+Me+One&family=Ubuntu&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Local JavaScript -->
    <script defer src="/js/script.js"></script>

    <title>Aced</title>
</head>

<body>
    <div id="page-container">
    <header>
            <nav>
                <span class="nav-toggle" id="js-nav-toggle">
                    <i class="fas fa-bars"></i>
                </span>

                    <a href="/">
                        <img src="/imgs/AcedLogo.png" alt="logo" class="logo">
                    </a>
                    <h1 class="heading">ACED</h1>
                    <hr class="line-break">
                <ul id="js-menu">
                    <li>
                        <a href="/scores" class="menu">All Scores</a>
                    </li>
                    <li>
                        <a href="/scores/new" class="menu">New Score</a>
                    </li>
                    <li>
                        <a href="/highscores" class="menu">High Scores</a>
                    </li>
                </ul>

            </nav>
    </header>