<%- include('./partials/header') %>

<main>
    <table>
        <thead>
            <th>Course</th>
            <th>Player</th>
            <th>High Score</th>
        </thead>
        <tbody>
            <tr>
                <td>Apache Shores</td>
                <td>Zach H.</td>
                <td>904</td>
            </tr>
            <tr>
                <td>Bible Ridge Long</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Bible Ridge Short</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Brazos East</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Brushy Creek</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Cat Hollow</td>
                <td>Adam</td>
                <td>880</td>
            </tr>
            <tr>
                <td>Circle C Long</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Circle C Short</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Davis Long</td>
                <td>Travis</td>
                <td>964</td>
            </tr>
            <tr>
                <td>Davis Short</td>
                <td>Steven/Zach H.</td>
                <td>892</td>
            </tr>
            <tr>
                <td>Falcon Pointe</td>
                <td>Travis</td>
                <td>904</td>
            </tr>
            <tr>
                <td>Mary Moore Seawright</td>
                <td>Steven</td>
                <td>844</td>
            </tr>
            <tr>
                <td>Met Center Long</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Met Center Short</td>
                <td>Adam</td>
                <td>880</td>
            </tr>
            <tr>
                <td>Northtown</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Old Settlers Park</td>
                <td>Travis</td>
                <td>904</td>
            </tr>
            <tr>
                <td>Rivery</td>
                <td>Zach H.</td>
                <td>928</td>
            </tr>
            <tr>
                <td>Roy G Guerrero Long</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Roy G Guerrero Short</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>San Gabriel</td>
                <td>Zach H.</td>
                <td>832</td>
            </tr>
            <tr>
                <td>Wells Branch</td>
                <td>Adam/Steven/Zach H.</td>
                <td>972</td>
            </tr>
            <tr>
                <td>Wilco</td>
                <td>Steven/Travis</td>
                <td>872</td>
            </tr>
            <td>Zilker</td>
            <td>Steven</td>
            <td>928</td>
        </tbody>
    </table>
</main>

<%- include('./partials/footer') %>