:root {
    --font-one: 'Krub', sans-serif;
    --font-two: 'Montserrat Alternates', sans-serif;
    --font-three: 'Text Me One', sans-serif;
    --font-four: 'Ubuntu', sans-serif;
    --font-six: 'Righteous', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.index-home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/imgs/mountainhorizon.jpg);
    background-position: center;
    background-size: cover;
}

.index-logo {
    max-width: 100%;
    display: block;
}

nav {
    width: 100%;
    background-color: #f1faee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    background-image: url('/imgs/mountainhorizon3.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #1D3557;
    box-shadow: 0px 1px 2px 1px #cccccc;
}

span.nav-toggle {
    font-size: 25px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f1faee;
    text-shadow: 1px 2px 2px #457b9d;
}

.logo {
    margin: 10px 0px 5px 20px;
    height: 60px;
    width: 60px;
}

.heading {
    text-align: center;
    font-family: var(--font-six);
    font-size: 50px;
    color: #f1faee;
    text-shadow: 2px 1px 6px #1D3557;
    opacity: .9;
}

.line-break {
    border: 1px solid #f1faee;
    box-shadow: 2px 1px 6px #1D3557;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 75px;
}

ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

ul li{
    list-style-type: none;
    font-family: var(--font-four);
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #f1faee;
    border-bottom-width: 1px;
    padding: 5px 50px;
}

ul li:first-child {
    margin-top: 0;
}

ul li:hover {
    opacity: 0.5;
}

.active {
    display: flex;
}

.menu {
    color: #f1faee;
    text-decoration: none;
    text-shadow: 1px 1px 1px #1d3557;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1faee;
}

.show-page {
    flex-direction: column;
}

.show-main {
    background: #f1faee;
    box-shadow: 2px 1px 6px #1D3557;
    padding: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #1D3557;
    margin-bottom: 8px;
}

label {
    font-family: var(--font-six);
    font-size: 22px;
    color: #1D3557;
    text-shadow: 1px 1px 1px #cccccc;
    padding: 2px;
}

h3 {
    font-family: var(--font-six);
    font-size: 24px;
    color: #1D3557;
    text-shadow: 1px 1px 1px #cccccc;
    border-bottom-style: solid;
    border-bottom-color: #1D3557;
    border-bottom-width: 2px;
    margin-bottom: 6px;
}

.show-text {
    font-family: var(--font-four);
    font-size: 16px;
    color: #1D3557;
}

.text-box {
    font-family: var(--font-one);
    height: 100px;
    width: 250px;
    resize: none;
}

#show-table {
    padding: 20px;
}

h5 {
    font-family: var(--font-four);
    font-size: 16px;
    color: #1D3557;
}

select {
    font-family: var(--font-two);
}

.new-form {
    background: #f1faee;
    box-shadow: 2px 1px 6px #1D3557;
    padding: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #1D3557;
    margin-bottom: 8px;
}

.cancel {
    font-family: var(--font-four);
    font-size: 16px;
    color: #1D3557;
    text-decoration: none;
}

.text-input {
    font-family: var(--font-two);
}

.button {
    height: 25px;
    outline: none;
    color: #f1faee;
    background-color: #1D3557;
    border: none;
    border-radius: 0.2em;
    font-family: var(--font-four);
    font-size: 12px;
    justify-content: center;
    margin: 10px;
}

.button:hover {
    background-color: #f1faee;
    color: #1D3557;
    border: 2px solid #1D3557;
}

.button:active {
    font-weight: bold;
    font-size: 12px;
}

footer {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-image: url(/imgs/stream.jpg);
    background-size: cover;
    background-position: center;
    border-top: 2px solid #1D3557;
    box-shadow: 0px 1px 2px 1px #cccccc;
    margin-bottom: -20px;
}

.footer-link {
    color: #f1faee;
    text-decoration: none;
}

#udisc {
    margin-right: 20px;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #1D3557;
    font-size: 26px;
}

.jomez, .innova {
    height: 26px;
    width: 26px;
    margin-right: 20px;
    margin-top: 13px;
    border-radius: 50%;
    border: 2px solid #f1faee;
    background: #f1faee;
    box-shadow: 1px 1px 5px #1D3557;
}

.discraft, .dynamic {
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #f1faee;
    background: #A8DADC;
    box-shadow: 1px 1px 5px #1D3557;
}

.discraft img{
    width: 100%;
    height: auto;
}

.dynamic img{
    width: 100%;
    height: auto;
}

p {
    font-family: var(--font-one);
    font-size: 6px;
    color: #f1faee;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

table {
    border: 3px solid #1D3557;
    box-shadow: 1px 1px 5px #1D3557;
}

thead {
    background: #1D3557;
    border: 2px solid #f1faee;
    font-family: var(--font-four);
    font-size: 14px;
    color: #f1faee;
}

thead th {
    padding: 5px;
}

tbody {
    font-family: var(--font-two);
    font-size: 12px;
    color: #1D3557;
}

tbody td {
    border: 1px solid #1D3557;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.info {
    color: #1D3557;
    cursor: pointer;
}

.info:active {
    opacity: .85;
}

.delete-form {
    display: inline-block;
    margin-right: 10px;
}

.del {
    color: #f1faee;
    background: #1D3557;
    border: none;
    border-radius: 0.2em;
    font-family: var(--font-four);
    font-size: 10px;
    box-shadow: 1px 1px 5px #1D3557;
    margin: 0 0 6px 0;
}

@media screen and (min-width: 600px) {
    nav {
        height: 200px;
        flex-direction: row;
        background-position: bottom;
    }

    hr {
        display: none;
    }

    h1 {
        display: none;
    }

    span.nav-toggle {
        display: none;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    ul li {
        display: inline-block;
        margin: 0 20px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
    }

    .logo {
        height: 125px;
        width: 125px;
        margin: 30px 0 0 10px;
        position: absolute;
        left: 0;
        top: 0;
    }

    #udisc {
        font-size: 30px;
        margin-right: 30px;
    }

    .jomez, .innova, .discraft, .dynamic {
        height: 30px;
        width: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 740px) {
    .logo {
        height: 150px;
        width: 150px;
        margin: 20px 0 0 10px;
    }

    ul li {
        display: inline-block;
        margin: 0 20px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
        font-size: 18px;
    }

    thead {
        font-size: 16px;
    }
    
    tbody {
        font-size: 14px;
    }

    .show-main {
        width: 350px;
    }

    label {
        font-family: var(--font-six);
        font-size: 26px;
        color: #1D3557;
        text-shadow: 1px 1px 1px #cccccc;
        padding: 2px;
    }

    .show-text {
        font-family: var(--font-four);
        font-size: 20px;
        color: #1D3557;
    }

    #show-table {
        width: 350px;
    }

    .button {
        height: 30px;
        font-size: 16px;
    }

    .discraft, .dynamic, .jomez, .innova {
        height: 35px;
        width: 35px;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    #udisc {
        font-size: 35px;
        margin-right: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {

    p {
        font-size: 8px;
    }
}